
*{
    margin: 0;
    padding: 0;
}
.container_s {
    display:grid;
    grid-template-columns:40%  10% auto 10%  10%; ;
    row-gap: 5%;
    width: 100%;
    height:fit-content;
    padding: .5ch 0 .5s;
    background-color:whitesmoke ;
    align-items:center;
}
.container  {
  display:grid;
  grid-template-columns:auto  10% 10% 50%  10% auto;
  row-gap: 5%;
  width: 100%;
  height:fit-content;
  padding: .5ch 0 .5s;
  background-color:whitesmoke ; 
}

p{
  overflow: hidden;
  white-space: nowrap;
}
.nav ,.login_nav{
    list-style: none;
    display: flex;
    padding: 1ch;
    margin: auto 2% auto;
    transition-duration: .8s;
  }
  .nav li {
    margin: 0 1ch 0;
    min-width: 4ch;
    min-height: 2ch;
    padding: 1ch 1ch 1ch;
    line-height: 3ch;
    text-align: center;
    border-radius: 1.5ch;
    background-color: white;
    display: flex;
  }
.login_nav button{
    margin: 0 1ch 0;
    min-width: 4ch;
    min-height: 2ch;
    line-height: 3ch;
    text-align: center;
    border-radius: 1ch;
    border:0;
    background-color: rgba(134,150,167,0.6);
    display: flex;
    padding:1ch 2ch 1ch;
}

/* 悬停菜单*/
  .show_iteam {
    position: absolute;
    display: none;
    z-index: 1;
    min-width: 20ch;
    min-height: 20ch;
    border: 2px solid rgba(134,150,167,0.6);
    border-radius: 1.5ch;
    background-color: whitesmoke;
  }
  
  .show_iteam_transition {
    display:block;
    transition: display 1s ;
    transform: translate(-5ch, 5ch);
    animation: drawdown 1s ease;
  }

#logo {
    background-image: url("http://arthur1.oss-us-west-1.aliyuncs.com/self-web/image/mmexport1640288180459.png");
    min-width: 60px;
    min-height: 60px;
    background-size: 100% 100%;
    margin: auto  5% auto  auto;
    transition: translateX(0px);
    transition-duration: .8s;
    border-radius: 1ch;
}
/* 用于装饰的小环*/
.circle_decoration{
    height:20px;
    width:20px;
    border-radius:50%;
    margin:auto 5px auto;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_decoration div{
    height:12px;
    width:12px;
    border-radius:50%;
    background-color:white;
}
.circle:hover .circle_decoration{
  position:relative;
  transition-duration: .5s;
  width:28px;
  height:28px;

}
.circle:hover .circle_decoration div{
  position:relative;
  transition-duration: .5s;
  width:15px;
  height:15px;
}
/* 边栏 */
.side{
  position:relative;
  float:right;
  border-radius:0 0 0 1.5ch ;
  width: 30%;
  height:100%;
  background-color:whitesmoke;
  transition-duration: .8s;
  display:none;
  padding: 4ch;
}
.side-in{
  animation:transfer 1.5s ease-in-out;
}
.side-out{
  animation:transfer_out 1.5s ease-in-out;
}
@keyframes transfer_out{
  from{
    transform:translate(0%);
  }
  to{
    transform:translate(100%);
  }
}
@keyframes transfer{
  from{
    transform:translate(100%);
  }
  to{
    transform:translate(0%);
  }
}
.side_menu{
  list-style: none;
  text-align:center;
  
}
.side_menu p{
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
}
.seprate_line{
  width: 60%;
  background-color:rgba(0,0,0,0.2);
  margin: 0.5ch auto 0.5ch;
  height:.3ch;
  border-radius:1.5ch;
}


/* 阴影*/
.boxshadow_light{
    box-shadow:2px 2px 5px 1px rgba(0,0,0,0.2);
}
  /* 下拉菜单 动画*/
  @keyframes drawdown {
    from {
        transform: translate(-5ch, 0ch);
      opacity: 0;
    }
    to {
      transform: translate(-5ch, 5ch);
      opacity: 1;
    }
  }